<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sandbox-ultimate-20184-16-15.20.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
				<key>dateExpires</key>
				<string>2019/5/2</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AliyunOSSiOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>BlocksKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CYLTabBarController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DZNSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FXBlurView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMBase64.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>HexColors.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>JZLocationConverter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>JazzHands.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KGModal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KVOController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KissXML.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>NSDate_Helper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PEPhotoCropEditor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PICircularProgressView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PLeakSniffer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>REFrostedViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ReactiveObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SAMKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDCycleScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwipeView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TSMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TTTAttributedLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>URBMediaFocusViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>WUEmoticonsKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>WYLCoreDataTableView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>XMPPFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ZXingObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>libPhoneNumber_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>32A348B92F0908F99DBEAEDD03799A8C41A44E4A</string>
						<key>dateExpires</key>
						<string>2019/5/2</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>msgpack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QLJDHZGYZX</string>
						<key>name</key>
						<string>GUO ZANHUA</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QLJDHZGYZX.com.jizhan.bdlsspace</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QLJDHZGYZX</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>QLJDHZGYZX.com.xiandou.sandbox</string>
				</array>
			</dict>
			<key>name</key>
			<string>sandbox.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7422ca6a-3eb9-450e-9597-5d24a7462abc</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.jizhan.bdlsspace</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QLJDHZGYZX</string>
				<key>name</key>
				<string>GUO ZANHUA</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
